* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: Mulish-bold;
  src: url('../assets/fonts/Mulish-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url('../assets/fonts/Mulish-Demi.ttf');
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url('../assets/fonts/Mulish-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url('../assets/fonts/Mulish-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Roboto-regular;
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Roboto-medium;
  src: url('../assets/fonts/Roboto-Medium.ttf');
  font-display: swap;
}

.font-regular {
  font-family: Mulish-regular !important;
}
.font-bold {
  font-family: Mulish-bold !important;
}

::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #e0e0e0;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e0e0e0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primaryblue);
  border-radius: 10px;
}

:root {
  --font: #000000B5;
  --lightgrey: #D0D0D0;
  --grey: #828282;
  --darkgrey: #333232;
  --primary: #F5952E;
  --primarygreen: #D2F4E0;
  --secondarygreen: #1E6231;
  --tertiarygreen: #003A00;
  --font: #000000b5;
  --grey: #d0d0d0;
  --darkgrey: #333232;
  --primarydarkblue: #b99825;
  --darkblue: #080664;
  --tertiarydarkblue: #242631;
  --primarygreen: #d2f4e0;
  --secondary: #b99825;
  --tertiarygreen: #003a00;
  --primaryblue: #b99825;
  --red: #be0f39;
  --golden: #d4c17b;
  --bg-color: #F6FAFF;
  --primary: #F5952E;
}
.font-primary {
  color: var(--primarydarkblue);
}

body {
  margin: 0;
  font-family: Mulish-regular !important;
  transition: opacity 200ms;
  position: relative;
  font-family: Mulish-medium;
  scroll-behavior: smooth;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: var(--bg-color) !important;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* Search pdf viewer css */
.rpv-search__highlights {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.rpv-search__highlight {
  background-color: var(--rpv-search__highlight-background-color);
  border-radius: 0.25rem;
  position: absolute;
  z-index: 1;
}
.rpv-search__highlight--current {
  background-color: var(--rpv-search__highlight-background-color) !important;
}
.rpv-search__popover {
  padding: 0 0.5rem;
}
.rpv-search__popover-input-counter {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  position: relative;
  width: 12rem;
}
.rpv-search__popover-counter {
  align-items: center;
  bottom: 0;
  display: flex;
  position: absolute;
  top: 0;
}
.rpv-search__popover-counter--ltr {
  padding-right: 0.25rem;
  right: 0;
}
.rpv-search__popover-counter--rtl {
  left: 0;
  padding-left: 0.25rem;
}
.rpv-search__popover-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.5rem;
}
.rpv-search__popover-label-checkbox {
  cursor: pointer;
  margin-right: 0.25rem;
}
.rpv-search__popover-footer {
  align-items: center;
  display: flex;
}
.rpv-search__popover-footer-item {
  padding: 0 0.25rem;
}
.rpv-search__popover-footer-button--ltr {
  margin-left: auto;
}
.rpv-search__popover-footer-button--rtl {
  margin-right: auto;
}
:root {
  --rpv-search__highlight-background-color: rgba(255, 255, 0, 0.4);
  --rpv-search__highlight--current-background-color: rgba(0, 128, 0, 0.4);
}
/* Chat UI */
.Composer-inputWrap {
  font-family: Mulish-regular !important;
  /* border: 1px solid var(--secondary); */
  /* padding-top: 10px;
  padding-bottom: 10px; */
  font-size: 18px;
  background: white;
}
.RichText {
  font-family: Mulish-Regular !important;
  font-size: 14px !important;
}
.QuickReply {
  background: var(--primarydarkblue) !important;
  color: white !important;
  font-family: Mulish-demi !important;
}
li p {
  margin-top: -25px !important;
}
